

<center> 

<h2>Welcome to Facebook Fitness</h2>

  <p>
    <%= link_to 'Create Workout Log', new_workout_path %>
  </p>

 
  <table class='cell' align='center' >
    <tr>
      <th> Weight </th>
      <th> Exercise </th>
      <th> Repetition </th>
      <th> Time </th>
    </tr>
      <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.weight %></td>
      <td><%= workout.exercise %></td>
      <td><%= workout.repetition %></td>
      <td><%= workout.time %></td>
      <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
     
      <td><%= link_to 'Delete', workout_path(workout), method: :delete, data: {confirm: "Are you sure you want to delete this log?"} %></td>   
    </tr>
    <% end %>
  </table>
  
  </br>
  </br>
  </br>
  </br>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
 
</center>  

